<p>You were mentioned in the Rizome discussion <strong>{{discussionName}}</strong> in the project <strong>{{projectName}}</strong>.</p>
<p>To go to the discussion, <a href="{{discussionUrl}}">click here</a>.</p>